/* CREATE.PHP */

/* ROOT */
:root {
   --primary-color: #007bff;
   --primary-text-color: #fff;
}

.create-form {
   max-width: 500px;
   margin: 0 auto;
   font-size: 1.1rem;
}

.create-form__section {
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
}

.create-form__label {
   margin-bottom: 8px;
}

.create-form__input,
.create-form__textarea {
   border: 1px solid rgb(126, 126, 126);
   border-radius: 3px;
   padding: 0.5rem;
   font-size: 1rem;
   transition: .5s;
}

.create-form__textarea {
   font-family: Lato;
   resize: vertical;
}

.create-form__input:focus,
.create-form__textarea:focus {
   box-shadow: 0 0 10px #007bff;
   outline: 0;
}

.create-form__div-button {
   width: 100%;
   text-align: center;
}
.create-form__button {
   width: 150px;
   height: 36px;
   font-size: 1rem;
   font-weight: bold;
   color: var(--primary-text-color);
   border: 3px solid var(--primary-color);
   background-color: var(--primary-color);
   transition: .5s;  
}

.create-form__button:hover {
   background-color: transparent;
   color: rgba(0, 0, 0, 0.669);
}