@charset "UTF-8";

/* 
   *** ROOT
   *** FONTES
   *** BODY
   *** HEADER
   *** MAIN
   *** FOOTER
*/

/* ROOT */
:root {
   --primary-color: #007bff;
   --primary-text-color: #fff;
   --secondary-text-color: #8d8d8d;
}


/* FONTES */
@font-face {
   font-family: RopaSans;
   src: url(../fonts/RopaSans/RopaSans-Regular.ttf);
}
@font-face {
   font-family: Lato;
   src: url(../fonts/Lato/OpenSans-Regular.ttf);
}
@font-face {
   font-family: Rambla;
   src: url(../fonts/Rambla/Rambla-Regular.ttf);
}


/* BODY */
body {
   width: 100vw;
   height: 100vh;
   font-family: Rambla;
   /* position: relative; */
}


/* HEADER */
.header {
   height: 76px;
   width: 100%;
   background-color: var(--primary-color);
   font-family: Lato;
}

.header__nav {
   max-width: 1200px;
   height: 100%;
   margin: 0 auto;
   display: flex;
   align-items: center;
}

.header__link {
   color: var(--primary-text-color);
   margin-right: 15px;
}

.header__logo {
   width: 50px;
   margin-right: 20px;
}


/* MAIN */
.main {
   max-width: 800px;
   margin: 0 auto;
}

.main__title {
   text-align: center;
   margin: 15px 0 30px;
   font-size: 2.5rem;
   font-weight: 500;
   font-family: RopaSans;
}

.table-contacts {
   width: 100%;
   text-align: left;
}
.table-contacts__thead {
   background-color: var(--primary-color);
   color: var(--primary-text-color);
   font-weight: bold;
}
.table-contacts__thead tr, 
.table-contacts__tbody tr {
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.table-contacts__thead tr th, 
.table-contacts__tbody tr td {
   flex: 3;
   padding-left: 15px;
}
.table-contacts__thead tr th:nth-child(1), 
.table-contacts__tbody tr td:nth-child(1) {
   flex: 1;
   font-weight: bold;
}

.table-contacts__search-form {
   display: flex;
   align-items: center;
   flex-direction: row-reverse;
   margin-right: 13px;
}
.table-contacts__search-input {
   width: 0;
   border: none;
   transition: .5s;
   margin: 0;
   padding: 0;
}
.table-contacts__search-input:focus {
   width: 180px;
   padding: 5px;
}
.table-contacts__search-form label {
   width: 20px;
   margin-right: 8px;
}

.table-contacts__icons {
   display: flex;
   align-items: center;
   justify-content: end;
}
.table-contacts__icons a img {
   width: 20px;
   margin: 7px;
}


/* FOOTER */
.footer {
   height: 50px;
   width: 100%;
   margin-top: 170px;
   text-align: center;
   font-family: RopaSans;
}
.footer__link {
   display: inline-block;
   color: var(--secondary-text-color);
   transition: .5s;
}
.footer__link:hover {
   color: rgb(37, 37, 37);
   text-decoration: underline;
}