@charset "UTF-8";

/* 
   *** ROOT
   *** FONTES
   *** BODY
   *** HEADER
   *** MESSAGE
   *** MAIN
   *** FOOTER
*/

/* ROOT */
:root {
   --primary-color: #007bff;
   --primary-text-color: #fff;
   --secondary-text-color: #8d8d8d;
   
   font-size: 15px;
}


/* FONTES */
@font-face {
   font-family: RopaSans;
   src: url(../fonts/RopaSans/RopaSans-Regular.ttf);
}
@font-face {
   font-family: Lato;
   src: url(../fonts/Lato/OpenSans-Regular.ttf);
}
@font-face {
   font-family: Rambla;
   src: url(../fonts/Rambla/Rambla-Regular.ttf);
}


/* BODY */
body {
   width: 100%;
   height: 100%;
   font-family: Rambla;
}


/* HEADER */
.header {
   height: 5.066666rem;
   width: 100%;
   background-color: var(--primary-color);
   font-family: Lato;
}

.header__nav {
   max-width: 80rem;
   height: 100%;
   margin: 0 auto;
   display: flex;
   align-items: center;
}

.header__img-info {
   width: 25px;
}

.header__link {
   color: var(--primary-text-color);
   margin-right: 1rem;
}

.header__logo {
   width: 3.33333rem;
   margin: 0 1.333333rem;
}

.header__user {
   flex: 1;
   text-align: end;
   margin-right: 1.5rem;
}

.header__user-name {
   font-weight: bold;
}


/* MESSAGE */
.msg-container {
   padding: 1rem;
}

.msg {
   width: 60%;
   margin: 0 auto;
   padding: 0.66666rem;
   border: solid 1px #000;
   text-align: center;
}

.msg.error {
   color: #842029;
   background-color: #f8d7da;
   border-color: #f5c2c7;
}

.msg.success {
   color: #0f5132;
   background-color: #d1e7dd;
   border-color: #badbcc;
}


/* MAIN */
.main {
   max-width: 53.333333rem;
   margin: 0 auto;
}

.main__link-form {
   font-size: 1.03rem;
   font-weight: bold;
   color: var(--secondary-text-color);
}
.main__link-form:hover {
   text-decoration: underline;
}

.main__p-info {
   text-align: center;
}

.main__search-p {
   text-align: center;
   margin-top: 2.5rem;
}

.main__title {
   text-align: center;
   margin: 1rem 0 1rem;
   font-size: 2.5rem;
   font-weight: 500;
   font-family: RopaSans;
}


/* MAIN - BACK BUTTON */
.main__div-back-button {
   max-width: 33.33333rem;
   margin: 2rem auto;
}

.main__back-button {
   background-color: #FFF;
   border-radius: .33333rem;
   color: var(--primary-color);
   font-size: 1.1rem;
   font-weight: bold;
   width: 5.33333rem;
   height: 2.666666rem;
   border: 1px solid var(--primary-color);
   transition: .5s;
}

.main__back-button:hover {
   background-color: #007bff;
   color: #FFF;
}


.table-contacts {
   width: 100%;
   text-align: left;
   margin-top: 4.66666rem;
}
.table-contacts__thead {
   background-color: var(--primary-color);
   color: var(--primary-text-color);
   font-weight: bold;
}
.table-contacts__thead tr, 
.table-contacts__tbody tr {
   height: 3.33333rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.table-contacts__thead tr th, 
.table-contacts__tbody tr td {
   flex: 3;
   padding-left: 1rem;
}
.table-contacts__thead tr th:nth-child(1), 
.table-contacts__tbody tr td:nth-child(1) {
   flex: 1;
   font-weight: bold;
}

.table-contacts__search-form {
   display: flex;
   align-items: center;
   flex-direction: row-reverse;
   margin-right: .86666666rem;
}
.table-contacts__search-input {
   width: 0;
   border: none;
   transition: .5s;
   margin: 0;
   padding: 0;
}
.table-contacts__search-input:focus {
   width: 12rem;
   padding: .333333rem;
}
.table-contacts__search-form label {
   width: 1.33333rem;
   margin-right: .5333333rem;
}

.table-contacts__icons {
   display: flex;
   align-items: center;
   justify-content: end;
}
.table-contacts__icons a img {
   width: 1.33333rem;
   margin: .466666rem;
}


/* FOOTER */
.footer {
   height: 3.33333rem;
   width: 100%;
   margin-top: 11.333333rem;
   text-align: center;
   font-family: RopaSans;
}
.footer__link {
   display: inline-block;
   color: var(--secondary-text-color);
   transition: .5s;
}
.footer__link:hover {
   color: rgb(37, 37, 37);
   text-decoration: underline;
}


@media (max-width: 550px) {
   :root {
      font-size: 13px;
   }

   #create-contact-form {
      margin: 0 20px;
   }
   
   .main-view__container {
      padding-left: 20px;
   }
}

@media (max-width: 480px) {
   :root {
      font-size: 11px;
   }
}